@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes pulseGlow {
  0%, 100% {
    opacity: 0.6;
    box-shadow: 0 0 20px rgba(255,105,180,0.8);
  }
  50% {
    opacity: 1;
    box-shadow: 0 0 40px rgba(255,105,180,1);
  }
}

.animate-pulseGlow {
  animation: pulseGlow 3s infinite ease-in-out;
}
